<!doctype html>
<html lang="NL-nl">
<head>
    <meta name="robots" content="none">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">

    <meta name="theme-color" content="#202060" />

    <title>StamTour 2018 - Route 3</title>

    <link href="css/stylesheet.css" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/3cdc861506.js"></script>
    <script defer src="node_modules/vue/dist/vue.js"></script>
    <script defer src="node_modules/geolib/dist/geolib.js"></script>
    <script defer src="js/location.js"></script>
    <script defer src="js/script.js"></script>
</head>
<body>
  <!--
  <div id="dialog" class="dialog-message">TODO</div>
  -->

  <div id="background-map" class="full-page map"></div>

  <div id="dashboard" v-show="open" class="full-page">
    <div class="top-bar">
      <div class="compass-wrap" id="compass-wrap">
        <div class="compass" id="compass"></div>
        <div class="compass-msg" id="compass-msg">{{ compassMsg }}</div>
      </div>
      <div id="distance" class="distance-display"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ distance }}</div>
    </div>

    <div id="footer" class="bottom-bar">
      <span id="code-word" class="code-word">{{ codeWord }}</span>
      <button id="info-button" v-on:click="toggleInfo" class="info rounded"><i class="fa fa-info" aria-hidden="true"></i></button>
    </div>
  </div>

  <div id="info-page" style="display: none;" v-show="open" class="full-page">
    <button id="info-button" v-on:click="toggleInfo" class="error rounded floating-right"><i class="fa fa-times" aria-hidden="true"></i></button>
    <article>
      <h1>Information</h1>
      <p></p>
    </article>

    <article>
      <h1>Nerd statistics</h1>
      <p>
        <table>
          <thead><tr><th colspan="2">GPS sensor values</th></tr></thead>
          <tbody>
            <template v-for="(value, key) in sensorData">
              <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
            </template>
          </tbody>
        </table>
      </p>
    </article>

    <article>
      <h1>Code word</h1>
      <p></p>
    </article>

    <template v-if="development">
      <article>
        <h1>Development mode:</h1>
        <label for="set-waypoint">Change waypoint:</label>
        <input type="number" value="0" min="0" max="10" id="set-waypoint">
      </article>
    </template>
  </div>
</body>
</html>
