<!doctype html>
<html lang="NL-nl">
<head>
    <meta name="robots" content="none">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">

    <meta name="theme-color" content="#444444" />

    <title>S5 Stam autospeurtocht 2018 - Route 4</title>

    <link rel="stylesheet" href="css/stylesheet.css" >
    <link rel="stylesheet" href="css/modal.css" >
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />

    <!-- First load the vue library -->
    <script src="node_modules/vue/dist/vue.min.js"></script>

    <script defer src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <script defer src="https://use.fontawesome.com/3cdc861506.js"></script>
    <script defer src="node_modules/geolib/dist/geolib.js"></script>
    <script defer src="node_modules/nosleep.js/dist/NoSleep.min.js"></script>
    <script defer src="js/messagemodal.js"></script>
    <script defer src="js/location.js"></script>
    <script defer src="js/script.js"></script>
</head>
<body>
  <div class="modal-curtain modal-hidden"><div id="modal" class="modal"><p class="modal-content" id="modal-content"></p></div></div>

  <div id="background-map" class="full-page map"></div>

  <div id="dashboard" v-show="open" class="full-page">
    <div class="speed-sign">{{ speed }}</div>
    <div class="top-bar">
      <div class="compass-wrap" id="compass-wrap">
        <div class="compass" id="compass"></div>
        <div class="compass-msg" id="compass-msg">{{ distance }}</div>
      </div>
    </div>

    <div id="footer" class="bottom-bar">
      <span id="code-word" class="code-word">{{ codeWord }}</span>
      <button id="info-button" v-on:click="toggleInfo" class="info rounded"><i class="fa fa-info" aria-hidden="true"></i></button>
    </div>
  </div>

  <div id="info-page" style="display: none;" v-show="open" class="full-page info-page">
    <button id="info-button" v-on:click="toggleInfo" class="error rounded floating-right"><i class="fa fa-times" aria-hidden="true"></i></button>
    <article>
      <h1>Informatie</h1>
      <p>Dit deel van de route werkt als een "klasieke" gps tocht. De pijl geeft de richting aan van het volgende punt.
        In de pijl staat de resterende afstand tot het volgende punt. Zodra je bij het punt aan bent gekomen wijst de pijl
        naar het volgende punt. <br />
        Bij ieder punt krijg je een nieuw codewoord. Vergeet deze niet op te schrijven! De codewoorden zul je aan het einde moeten inleveren.
        Mocht een telefoon uitvallen kun je in het blokje hieronder het laatst gevonden codewoord invullen om verder te gaan met de route.
        <br /><br />
        Belangrijk, vergeet niet om toestemming te geven voor het opvragen van de locatie!<br />
        Voor de werking van de gps aanwijzer is het belangrijk om in beweging te blijven. De app onthoudt, bij stilstand, de laatst gereden richting.
      </p>
      <button v-on:click="resetWaypoint">Begin opnieuw</button>
      <button v-on:click="resetGps">Ik heb de GPS toegang geweigerd maar wil toch de route rijden</button>
    </article>

    <article>
      <h1>Codewoord</h1>
      <p>
        <p>Vul hier het codewoord in om verder te gaan met de route.</p>
        <input type="text" id="code-word-text" placeholder="Type here..." v-model="codeWordText">
        <button id="code-word-submit" v-on:click="verifyCodeWord(codeWordText)" v-bind:disabled="disableBtn">Check</button>
      </p>
    </article>

    <article>
      <h1>Geeky hoekje.:</h1>
      <p>
        <table>
          <thead><tr><th colspan="2">GPS sensor waardes</th></tr></thead>
          <tbody>
            <template v-for="(value, key) in sensorData">
              <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
            </template>
          </tbody>
        </table>
      </p>
    </article>

    <template v-if="development">
      <article>
        <h1>Development mode:</h1>
        <label for="set-waypoint">Change waypoint:</label>
        <input type="number" value="0" min="0" max="10" id="set-waypoint" v-on:input="setWaypoint">
        <br />
        <label for="layer-switcher">Change background layer:</label>
        <select id="layer-switcher" v-on:change="changeLayer">
          <option disabled value="">Select a layer</option>
          <option v-for="layer of layers" v-bind:value="layer">{{ layer }}</option>
        </select>
      </article>
    </template>
  </div>
</body>
</html>
